.day-of-week-circle {
  color: $green;
  width: 20px;
  height: 20px;
  border: 0.1em solid;
  line-height: 16px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  border: 0.1em double
}
 .day-of-week {
  padding: 0px 2px;
 }
