.day-of-week-circle {
  color: $green;
  width: 20px;
  height: 20px;
  border: 0.1em solid;
  line-height: 16px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  border: 0.1em double
}

 .day-of-week {
  padding: 0px 2px;
 }

.live-text-span {
  font-weight: 300;
  position: absolute;
  bottom: 0px;
  right:5px;
  font-size: 10px;
}

.no-data {
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 0px;
}
