.day-of-week-circle {
  color: $green;
  width: 20px;
  height: 20px;
  border: 0.1em solid;
  line-height: 16px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  border: 0.1em double
}
 .day-of-week {
  padding: 0px 2px;
 }

.live-text {
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
}

.live-text-span {
  font-weight: 300;
  position: absolute;
  bottom: 0px;
  right:5px;
  font-size: 14px;
}

.square {
  padding: 1.2rem 1rem;
  width: 120px;
  text-align: center;
  margin: 2px;
  font-size: 1.5rem;
  position: relative;
  cursor: auto;
  color: #212529;
  background-color: #6dd18c;
  border-color: #6dd18c;
}
