.nightclub-card {
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(86, 190, 132, 0.7);
  margin: 30px;
  border-radius: 20px;
}

.nightclub-card-static {
  height: 180px;
  background: white;
  display: flex;
  align-items: center;
  position: relative; // for partial border
  img {
    padding-left: 25px;
    width: 145px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    // text-align: center;
  }
}

.nightclub-card-static .nightclub-card-static-info {
  padding: 16px;
}

.nightclub-card-static-info {
  padding-left: 20px !important;
  flex-grow: 1; // So .nightclub-card-static-info takes up space in .nightclub-card-static
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position:relative;
}

.nightclub-card-live {
  padding: 32px 25px 20px 25px;
  height: 120px;
  background: white;
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
}

.live {
  position:relative;
}

.promotions {
  display:flex;
  flex-direction: column;

  .btn {
    margin: 2px;
  }
}

.partial-border {
  position: absolute;
  border: 1px $primary solid;
  left: 15%;
  width: 70%;
  bottom: -2%;
}

// Media Queries
// xs and sm
@media screen and (max-width: 768px) {
  .nightclub-card-live{
    flex-direction:column;
    height: 100%;
  }

  .live-indicator-and-text {
    right: -5px !important;
  }

  .promotions {
    margin-top: 20px;
  }

  .nightclub-card p {
    text-align: center;
  }
}

// xs, sm & md
@media screen and (max-width: 992px) {
  .nightclub-card-static img {
    width: 100px;
    height:100px;
    padding: 0px;
  }
  .nightclub-card-static {
    height: 100%;
    flex-direction: column;
  }



  .nightclub-card-static-info {
    align-items: inherit;
  }
}

// Over 992 i.e. > lg
@media screen and (min-width: 992px) {
  .nightclub-card-static-info #style {
    position:absolute;
    top: 6px;
    right:20px;
  }
}

