.live-indicator-and-text {
  position: absolute;
  top: -16px;
  right: -60px;
  color: red;
  display: flex;
}

.live-indicator {
  vertical-align: middle;
  width: 22px;
  height: 22px;
  color: red;
  border-radius: 100%;
  margin: 0 auto;
  border:3px solid rgba(255,255,255,1);
   animation: blink 2s ease-in infinite;
  -webkit-animation: blink 2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  &:nth-child(1) {
    background-color:red;
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }
}

.day-of-week-circle {
  color: $green;
  width: 1.3em;
  height: 1.3sem;
  border: 0.1em solid;
  line-height: 1em;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  border: 0.1em double
}
