.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}


// .dropdown-menu {
//       display: flex;
//     flex-direction:column;
//         a:hover {
//       text-decoration: none;
//     }
// }

// @media (max-width: 576px) {
//   // html{
//   //   background-color: red;
//   // }

//   #navbarDropdown{
//     display: none;
//   }
//   .nav-item dropdown {
//     i {
//       display:none;
//     }
//   }

//   .dropdown-menu {
//     display: block;
//     border:none;



//   }
// }
