<div class="container mt-5">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" >
      <% @nightclubs.each do |nightclub| %>
        <%= render "nightclub_card", nightclub: nightclub %>
      <% end %>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
