// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "arctic_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

// Attempt overrider panel to make it a bit smaller on full desktop

@media screen and (min-width: 1400px) {
  body.active_admin.logged_in {
    padding-left: 200px;
  }

  .header #tabs {
    width: 200px;
  }
}

// Monkey patch for batch action style
.batch_actions_selector .dropdown_menu_list_wrapper .dropdown_menu_list li {
  padding: 10px;
}
