// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.devise-form {
  min-height: 500px;
}

@import url('//fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,900&display=swap');

body {
  font-family: 'Roboto Slab', serif;
}

.bulletpoint {
  font-size: 10px;
  margin: 5px 5px;
  line-height: 1.5;
}
