<div class="container">
  <div class="d-flex justify-content-center text-center">
  <h2>Quote <%= @promotion.code %> to a member of the team at the door</h2>
  </div>


  <div class="d-flex justify-content-center">
    <iframe src="https://giphy.com/embed/TFNeJUfQR76SY5DbpB" width="480" height="365" frameBorder="0" class="giphy-embed"   allowFullScreen></iframe>
</div>
</div>
